/*.launch
/.idea/
/resources/
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/*.mpr.bak
/*.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
.DS_Store
/chartwidgets.mpr.bak
/chartwidgets.mpr.lock
/nativemobile/builds/
